services:
  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: mongo
    ports:
      - "27017"
    volumes:
      - mongo-data:/data/db

  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: notification_db
      MYSQL_USER: notify_user
      MYSQL_PASSWORD: notify_pass
    # command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307"
    volumes:
      - mysql_data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672" # RabbitMQ server
      - "15672" # Management UI

  redis:
    image: redis:6
    container_name: redis-server
    ports:
      - "6379"
    command:
      [
        "redis-server",
        "--maxmemory",
        "256mb",
        "--maxmemory-policy",
        "allkeys-lru",
      ]

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000" # expose only the gateway
    depends_on:
      - auth-service
      - user-service
      - task-service
      - notification-service
    volumes:
      - ./api-gateway:/app
      - /app/node_modules

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "3001" # exposed internally to Docker network only
    depends_on:
      - user-service
      - rabbitmq
    volumes:
      - ./auth-service:/app
      - /app/node_modules

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3002"
    depends_on:
      - mongo
      - redis
    volumes:
      - ./user-service:/app
      - /app/node_modules

  task-service:
    build: ./task-service
    container_name: task-service
    ports:
      - "3003"
    depends_on:
      - mongo
      - rabbitmq
      - redis
    volumes:
      - ./task-service:/app
      - /app/node_modules

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "3004:3004"
    depends_on:
      - mysql
      - rabbitmq
      - redis
    volumes:
      - ./notification-service:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: nextjs-client
    ports:
      - "5173:5173" # expose only the client
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - api-gateway

volumes:
  mongo-data:
  mysql_data:
